<div class="panel">
	<h2 class="unbold">Recent Activity</h2><br>
	<div class="box">
		{% set i = 0 %}
		{% for subscription in subscriptions %}
			{% if subscription.id is defined and i < 5 %}
				{% set i = i + 1 %}
				<div class="feed-item">
					<img class="icon" src="/img/feed.png">
					<div class="top inline-block vertical-align">
						<span class="bold">{{ user.youtube_username }} subscribed to <a href="/user/{{ subscription.subscription_to }}">{{ subscription.subscription_to }}</a></span><br>
						<span class="small">({{ subscription.subscription_when|timeago }})</span>
					</div>
					<hr class="dotted-under">
				</div>
			{% endif %}
		{% endfor %}

		{% if subscriptions.rows == 0 %}
			<center>
				This user has no recent activity.
			</center>
		{% endif %}
	</div>
</div>