<div class="panel">
	<h2 class="unbold inline-block">Subscriptions ({{ subscriptions.rows }})</h2>
	<a style="float:right;" href="/user_subscriptions/jackd">view all</a>
	<br><br>
	<div class="users-list">
		{% for subscription in subscriptions %}
			{% if subscription.id is defined %}
				<div class="user">
					<center>
						<a href="/user/{{ subscription.subscription_to }}">
							<img class="profile-picture" src="/v/p/{{ subscription.profile_picture }}">
							{{ subscription.subscription_to }}
						</a>
					</center>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div><br>