<hr>
<div class="footer-links big">
    <a href="#" class="wide">Help</a>
    <a href="#" class="wide">About</a>
    <a href="#" class="wide">Press & Blogs</a>
    <a href="#" class="wide">Copyright</a>
    <a href="#" class="wide">Creators & Partners</a>
    <a href="#" class="wide">Advertising</a>
    <a href="#" class="wide">Developers</a>
    <a href="#" class="wide">Safety</a>
    <a href="#" class="wide">Privacy</a>
    <a href="#" class="wide">Terms</a>
</div>
<span class="inline-block small padding-top">
    &copy; {{ 'now' | date('Y') }} uTue, LLC
    <a href="https://discord.gg/a6fMVMJTXm">Report a bug</a>
</span>