<a href="/"><img class="logo" alt="YouTube - Broadcast Yourself" src="/img/utue_logo.png"></a>
<div class="user-panel-bar float-right inline-block">
    <form class="inline-block" action="/search_query" method="GET" autocomplete="off">
        <input name="q" type="text" class="search_bar">
        <input name="submit" type="submit" value="Search">
    </form>
    <a href="/" class="divider">Home</a>
    <a href="/videos/" class="divider">Videos</a>
    <a href="/upload_video" class="divider">Upload</a>
    {% if session.youtube is defined and session.youtube is not empty %}
        <div class="ut-dropdown">
            <button onclick="dropdown()" class="dropbtn divider end">{{ session.youtube }}</button>
            <div id="user-dropdown" class="ut-dropdown-content">
                <a href="/user/{{ session.youtube }}">My Channel</a>
                <a href="#">Subscriptions</a>
                <a href="/inbox/">Inbox</a>
                <a href="/my/video_manager">My Videos</a>
                <a href="/account">Account</a>
                <a href="/my/video_history">History</a>
            </div>
        </div>
        <a href="/request/sign_out" class="divider">Logout</a>

        <script>
            function dropdown() {
                document.getElementById("user-dropdown").classList.toggle("show");
            }
            
            window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
    {% else %}
        <a href="/sign_up" class="divider end">Create Account</a>
        <a href="/sign_in" class="divider">Sign In</a>
    {% endif %}
</div>
<hr>
<div class="ajax_alerts"></div>
{% if session.alert is defined %}
    <div class="alert
        {% if session.alert.type == 0 %}alert-success{% endif %}
        {% if session.alert.type == 1 %}alert-error{% endif %}
        {% if session.alert.type == 2 %}alert-warning{% endif %}
    ">
            {{ session.alert.message|raw }}
    </div>
{% endif %}