{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "YouTube - Homepage",
        "description" : "Broadcast yourself"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block site_content -%}
    <div class="clearfix">
        <div class="section bold sign-up">
            Create Account for YouTube
        </div>
        <div class="outer-box" style="width: 500px;">
            <div class="inner-box">
                <form action="/request/sign_up" method="POST" autocorrect="off">
                    username>::::: <input class="" name="youtube-username" type="text"><br>
                    password>::::: <input class="" name="youtube-password" type="password"><br>
                    email>::::: <input class="" name="youtube-email" type="email"><br>
                    <input class="submit" type="submit" value="Create Account">
                </form>
            </div>
        </div>
    </div>
{% endblock %}