{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "UTue - Sign In",
        "description" : "Broadcast yourself"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block site_content -%}
    <div class="clearfix">
        <div class="section bold sign-up">
            Sign in to UTue
        </div>
        <div class="outer-box" style="width: 500px;">
            <div class="inner-box">
                <form class="auth-form inline-block" action="/request/sign_in" method="POST" autocorrect="off">
                    <label class="black" for="username">Username <span class="required">* required</span></label><br>
                    <input id="username" placeholder="Username" class="ut-input" name="youtube-username" type="text"><br><br>
                    <label class="black" for="password">Password <span class="required">* required</span></label><br>
                    <input id="password" placeholder="Password" class="ut-input" name="youtube-password" type="password"><br><br>
                    <label class="black" for="email">E-Mail</label><br>
                    <span class="input-caption">This input is not required, but if you ever need to recover your account, this is needed.</span><br>
                    <input id="email" placeholder="E-Mail" class="ut-input" name="youtube-email" type="email"><br><br>
                    <input class="submit ut-button no-margin" type="submit" value="Sign In">
                </form>
                <div class="benefits-sign_in">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}