{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "UTue - Sign Up",
        "description" : "Broadcast yourself"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block site_content -%}
    <div class="clearfix">
        <div class="section bold sign-up">
            Create Account for UTue
        </div>
        <div class="outer-box" style="width: 500px;">
            <div class="inner-box">
                <form class="auth-form inline-block" action="/request/sign_up" method="POST" autocorrect="off">
                    <label class="black" for="username">Username <span class="required">* required</span></label><br>
                    <input class="ut-input" required placeholder="Username" name="youtube-username" type="text"><br>
                    <span class="input-caption">Your username must not be shorter than 5 characters or longer than 10 characters. No special characters are allowed.</span><br><br>
                    <label class="black" for="username">Password <span class="required">* required</span></label><br>
                    <input class="ut-input" required placeholder="Password" name="youtube-password" type="password"><br>
                    <span class="input-caption">There are no requirements for passwords, but it is definitely recommended you set a strong password.</span><br><br>
                    <label class="black" for="username">Refferal Key <span class="required">* required</span></label><br>
                    <input class="ut-input" required placeholder="Referral Key" name="youtube-key" type="text"><br>
                    <span class="input-caption">A key is required to sign up for uTue.</span><br><br>
                    <label class="black" for="username">E-Mail</label><br>
                    <span class="input-caption">This input is not required, but if you ever need to recover your account, this is needed.</span><br>
                    <input class="ut-input" placeholder="E-Mail" name="youtube-email" type="email"><br><br>
                    <input class="submit ut-button no-margin" type="submit" value="Create Account">
                </form>
            </div>
        </div>
    </div>
{% endblock %}