{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "UTue - Upload Video",
        "description" : "Broadcast yourself"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block site_content -%}
    <div class="clearfix upload-page">
        <div class="section bold sign-up">
            Upload Video to UTue
        </div>
        <div class="outer-box">
            <div class="inner-box clearfix">
                <form action="/request/upload_video" method="POST" enctype="multipart/form-data" autocorrect="off">
                    <div class="top-left">
                        <label class="black" for="title">Video Title <span class="required">* required</span></label><br>
                        <input class="ut-input" style="width: 90%;" required placeholder="Title" name="youtube-title" type="text"><br>
                        <span class="input-caption" style="width: 90%;">Your title must be shorter than 40 characters. </span><br><br>
                        
                        <label class="black" for="username"> Video Description <span class="required">* required</span></label><br>
                        <textarea name="youtube-description" style="width: 90%;" class="ut-input no-resize" placeholder="Description"></textarea><br>
                        <span class="input-caption" style="width: 90%;">Your video's description must be shorter than 1000 characters. <br>Make sure your description follows the terms of service.</span><br><br>
                    </div>
                    <div class="top-right">
                        <label class="black" for="username">Video Tags</label><br>
                        <input class="ut-input" style="width: 90%;" placeholder="Video Tags" name="youtube-tags" type="text"><br>
                        <span class="input-caption" style="width: 90%;">Video tags help users discover your videos in search queries and in their recommendations.</span><br><br>

                        <label class="black" for="username">Video Category <span class="required">* required</span></label><br>
                        <select name="youtube-category" class="ut-input">
                            {% for category in categories %}
                                <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select><br>
                        <span class="input-caption" style="width: 90%;">The video category will help viewers understand what your video is about.</span><br><br>

                        <label class="black" for="username">Video File <span class="required">* required</span></label><br>
                        <input class="ut-input" style="width: 90%;" name="youtube-video" type="file"><br><br>
                    </div>
                    <div class="width-full clearfix">
                        <input class="submit ut-button no-margin" type="submit" value="Upload Video">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}