{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "YouTube - GTA: San Andreas - Dog",
        "description" : "Broadcast yourself"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block site_content -%}
    <div class="clearfix watch-page">
        <div class="top-left">
            <div class="video-watch-meta no-padding">
                <h1 class="video-watch-title">GTA: San Andreas - Dog</h1>
                <a class="video-watch-author bold">jackd</a>
                <div class="video-author-videos inline-block">10 videos <div class="bg-author_videos_watch inline-block mid"></div></div>
                <button class="ut-button">Subscribe</button>
            </div><br>
            <div class="video-player"></div><br>
            <div class="top-left">
                <div class="video-watch-meta no-padding">
                    <button class="ut-button no-margin start js_like_button">Like</button>
                    <button class="ut-button no-margin end dislike js_dislike_button">Like</button>
                    <button class="ut-button no-margin js_addto_button">Add To</button>
                    <button class="ut-button no-margin js_share_button">Share</button>
                    <button class="ut-button no-margin js_flag_button">Flag</button>
                </div>
                <div class="watch-description">
                    <div class="small">Uploaded by <a href="#">jackd</a> on Apr 12, 2022</div>
                    <div class="black" style="margin-top: 5px">
                        OVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOWOVERFLOW
                    </div>
                    <div class="small" style="margin-top: 5px">
                        <b>Category:</b><br>
                        <a href="#">Gaming</a><br>
                        <b>Tags:</b><br>
                        <a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><a href="#" class="tag">GTA</a><br>
                        <b>Category:</b><br>
                        <a href="#">Gaming</a><br>
                    </div>
                </div>
            </div>
            <div class="top-right no-margin views">
                <h1 class="float-right">3,541,329</h1><br><br>
                <div class="watch-sparkbars">
                    <div class="watch-sparkbar-likes" style="width: 91.5887850467%"></div>
                    <div class="watch-sparkbar-dislikes" style="width: 8.41121495327%"></div>
                </div>
                <span class="likes small">294 likes, 27 dislikes</span>
            </div>
            <button class="ut-button width-full no-margin js_open_description no-border" style="margin-top: 5px;">Show more</button><br><br>
            <div class="comment-section">
                <div class="section">Uploader Comments</div>
            </div>
        </div>
        <div class="top-right">
            <div class="videos-list">
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}